/*model by me */
.modal-overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(82, 95, 127, 0);
    z-index: 1000;
    pointer-events: none;
    transition: background-color .25s ease-in-out
}

@media (min-width:670px) {
    .modal-overlay {
        padding: 50px
    }
}

.modal-overlay.visible {
    background-color: rgba(82, 95, 127, .4);
    pointer-events: all
}

.modal-overlay.visible .join-modal {
    opacity: 1;
    transform: none
}

.modal-overlay.visible .join-modal.success>.success .content {
    pointer-events: all
}

.join-modal {
    position: relative;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    transform: scale(.75);
    transition: transform .25s cubic-bezier(.175, .885, .32, 1.275), opacity .25s cubic-bezier(.175, .885, .32, 1.275)
}

.join-modal.success>div:not(.success) {
    opacity: 0
}

.join-modal.success>.success .content {
    opacity: 1;
    transform: none
}

.join-modal>.close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url(../../../img/v3/atlas/close.svg);
    cursor: pointer
}

.join-modal>.close:active {
    opacity: .65
}

.join-modal>div {
    padding: 20px;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1)
}

@media (min-width:670px) {
    .join-modal>div {
        padding: 30px
    }
}

.join-modal>div h2 {
    font-size: 17px
}

.join-modal>div p {
    font-size: 15px;
    line-height: 24px
}

.join-modal>div h2+p {
    margin-top: 5px
}

.join-modal>.request-access header {
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.join-modal>.request-access header .logo {
    margin-right: 20px
}

.join-modal>.request-access form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 25px
}

.join-modal>.request-access form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0
}

.join-modal>.request-access form .row+.row {
    border-top: 1px solid #f3f5f8
}

.join-modal>.request-access form .row.invalid .label {
    color: #e25950
}

.join-modal>.request-access form .label {
    color: #32325d;
    width: 40%;
    padding-right: 10px
}

.join-modal>.request-access form input,
.join-modal>.request-access form textarea {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    border: none;
    outline: none;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif
}

.join-modal>.request-access form input::-webkit-input-placeholder,
.join-modal>.request-access form textarea::-webkit-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input::-moz-placeholder,
.join-modal>.request-access form textarea::-moz-placeholder {
    color: #aab7c4;
    opacity: 1
}

.join-modal>.request-access form input:-ms-input-placeholder,
.join-modal>.request-access form textarea:-ms-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input[type=text],
.join-modal>.request-access form textarea {
    margin: 0;
    padding: 0;
    width: 60%;
    color: #32325d
}

.join-modal>.request-access form input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer
}

.join-modal>.request-access form textarea {
    resize: none;
    min-height: 70px
}

.join-modal>.request-access form .select {
    position: relative;
    width: 60%
}

.join-modal>.request-access form .select:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 5px;
    top: 50%;
    margin-top: -2px;
    right: 0;
    background-image: url(../../../img/v3/atlas/select-arrow.svg)
}

.join-modal>.request-access form .select select {
    display: block;
    position: relative;
    width: calc(100% - 25px);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 15px;
    line-height: 24px;
    color: #32325d;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    cursor: pointer
}

.join-modal>.request-access form .select select:focus {
    color: #6772e5
}

.join-modal>.use-invite {
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f9fc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.join-modal>.use-invite .icon {
    margin: -3px 20px 0 -2px
}

.join-modal>.use-invite .common-Link {
    font-weight: 400
}

.join-modal>.use-invite .use-invite {
    margin-top: 5px
}

.join-modal>.use-invite .use-invite a {
    font-weight: 500
}

.join-modal>.success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.join-modal>.success .content {
    text-align: center;
    opacity: 0;
    transform: scale(1.5);
    transition-property: opacity, transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.join-modal>.success .icon {
    margin-top: 10px;
    margin-bottom: 30px
}

.join-modal>.success h2 {
    margin-bottom: 10px
}

.join-modal>.success h2,
.join-modal>.success p {
    max-width: 450px
}











/*video player*/

#overlay-video {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
main .overlay.active {
    opacity: 1;
    pointer-events: auto;
}
main .overlay {
    position: fixed;
    z-index: 501;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    background: linear-gradient(rgba(80,126,177,.95),rgba(112,157,199,.95) 10%,rgba(221,233,245,.95) 38%,rgba(234,242,249,.95) 48%,rgba(242,250,255,.95) 62%);
    transition: opacity .7s;
    will-change: opacity;
}
#overlay-video video {
    max-height: 100%;
    padding: 0;
    box-shadow: 0 20px 40px #aab7c4;
    will-change: transform;
}
main .overlay.active {
    opacity: 1;
    pointer-events: auto;
}