.Workswith-section#callouts .container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: calc(50% - 30px) 0;
    -ms-scroll-snap-destination: calc(50% - 30px) 0;
    scroll-snap-destination: calc(50% - 30px) 0
}

@media (min-width:670px) {
    .Workswith-section#callouts .container {
        overflow: visible;
        -webkit-scroll-snap-type: none
    }
            .if-content-3{
        min-width: 439px;
        background-image:url('http://cubtab.com/daut/as/m/a/amazing-furniture-for-small-spaces-living-room-design-image-of-modern_amazing-furniture-design_furniture_affordable-furniture-milwaukee-accent-bedroom-chairs-sofa-pier-one-rochester-ny-chair-in-to-go-_797x713.jpg');
        background-size: cover;
        background-position: center;
        min-height: 490px;
        border:15px solid #ffffff;
    }
}

.Workswith-section#callouts .container::-webkit-scrollbar {
    display: none
}

.Workswith-section#callouts .row {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 35px;
    min-width: 975px;
    padding: 0 15px
}

@media (min-width:670px) {
    .Workswith-section#callouts .row {
        margin: 0;
        min-width: 0;
        padding: 0 20px
    }
}

.Workswith-integrationCalloutLink {
    text-decoration: none;
    width: 305px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 25px 30px;
    position: relative;
    text-align: center;
    -webkit-scroll-snap-coordinate: 50% 0;
    -ms-scroll-snap-coordinate: 50% 0;
    scroll-snap-coordinate: 50% 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .15s
}

@media (min-width:670px) {
    .Workswith-integrationCalloutLink {
        max-width: 334px;
        width: auto;
        -ms-flex: 1;
        flex: 1
    }
}

.Workswith-integrationCalloutLink:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07)
}

.Workswith-integrationCalloutLink:active {
    background-color: #f6f9fc;
    transform: translateY(2px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, .1), 0 6px 11px rgba(0, 0, 0, .08)
}

.Workswith-featuredStar {
    background: linear-gradient(225deg, #edf2f7, #edf2f7 50%, transparent 0);
    border-top-right-radius: 4px;
    color: #aab7c5;
    position: absolute;
    top: 0;
    right: 0;
    height: 47px;
    width: 47px
}

.Workswith-featuredStar svg {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 15px;
    height: 15px
}

@media (min-width:670px) {
    .Workswith-integrationCalloutLink:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px
    }
}

.Workswith-integrationCalloutLogoPlaceholder {
    background: #8898a9
}

.Workswith-integrationCalloutLogo {
    background: #fff
}

.Workswith-integrationCalloutLogo,
.Workswith-integrationCalloutLogoPlaceholder {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: -45px;
    margin-bottom: 20px
}

@media (min-width:670px) {
    .Workswith-integrationCalloutLogo,
    .Workswith-integrationCalloutLogoPlaceholder {
        width: 100px;
        height: 100px
    }
}

.Workswith-integrationCalloutName {
    color: #32325d;
    font-size: 17px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 5px
}

@media (min-width:670px) {
    .Workswith-integrationCalloutName {
        font-size: 19px;
        line-height: 19px;
        margin-bottom: 10px
    }
}

.Workswith-integrationCalloutTagline {
    color: #6b7c93;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px
}

@media (min-width:670px) {
    .Workswith-integrationCalloutTagline {
        font-size: 17px;
        line-height: 26px
    }
}

.Workswith-collectionPreviewText {
    position: relative
}

@media (min-width:670px) {
    .Workswith-collectionPreviewText {
        min-width: auto
    }
}

.Workswith-collectionPreviewHeader {
    font-size: 24px;
    line-height: 40px;
    color: #32325d;
    font-weight: 400
}

.Workswith-seeAllLink {
    position: absolute;
    top: 9px;
    right: 0
}

.Workswith-seeAllLink:after {
    font: normal 16px StripeIcons;
    content: '\279C';
    padding-left: 5px
}

.Workswith-collectionPreviewText .Workswith-collectionDescription {
    margin-bottom: 30px
}

.Workswith-collectionPreviewRow {
    min-width: 690px;
    position: absolute;
    top: 0;
    left: 20px
}

@media (min-width:670px) {
    .Workswith-collectionPreviewRow {
        min-width: auto;
        position: static;
        left: 0;
        min-width: 0;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

.Workswith-collectionLinksContainer {
    width: calc(100% + 40px);
    min-height: 170px;
    margin-bottom: 60px;
    position: relative;
    left: -20px;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 50% 0;
    -ms-scroll-snap-destination: 50% 0;
    scroll-snap-destination: 50% 0
}

@media (min-width:670px) {
    .Workswith-collectionLinksContainer {
        overflow: visible;
        margin-bottom: 0;
        padding-left: 20px;
        width: calc(100% + 20px);
        -webkit-scroll-snap-type: none;
        -ms-scroll-snap-type: none;
        scroll-snap-type: none
    }
}

.Workswith-collectionLinksContainer::-webkit-scrollbar {
    display: none
}

.Workswith-collectionLinksContainer .Workswith-integrationLink,
.Workswith-collectionLinksContainer .Workswith-integrationLinkPlaceholder {
    -ms-flex: 1 1 200px;
    flex: 1 1 200px
}

@media (min-width:670px) {
    .Workswith-collectionLinksContainer .Workswith-integrationLink,
    .Workswith-collectionLinksContainer .Workswith-integrationLinkPlaceholder {
        -ms-flex: 1 1 210px;
        flex: 1 1 210px;
        max-width: 210px
    }
}

.globalFooterCTA {
    background: #f6f9fc
}

body.workswith div.globalFooterCard:hover {
    transform: none
}

body.workswith div.globalFooterCard:after {
    display: none
}

.Workswith-ctaLogoPlaceholder {
    background: #32335c;
    border-radius: 50%;
    width: 80px;
    height: 80px
}

.Workswith-ctaText {
    padding-left: 30px
}

.globalFooterCard.card-build-integration img {
    background: none
}

body.workswith.landing .globalFooter.withCards {
    padding-top: 575px;
    margin-top: -575px
}

body.workswith.landing .globalFooterCTA {
    background: none
}

.globalFooterCard.card-build-integration {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 365px;
    padding: 25px 20px;
    margin-left: 10px;
    margin-right: 10px
}

@media (min-width:670px) {
    .globalFooterCard.card-build-integration {
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 1040px;
        margin: 0 auto;
        min-height: auto;
        padding: 40px 40px 40px 120px
    }
}

body.workswith .globalFooterCard.card-build-integration,
body.workswith .globalFooterCard.card-build-integration:active {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07)
}

.globalFooterCards {
    margin-bottom: 40px
}

.globalFooterCards .globalFooterCard.card-build-integration svg {
    position: static;
    margin-bottom: 10px;
    width: 58px;
    height: 52px
}

@media (min-width:670px) {
    .globalFooterCards .globalFooterCard.card-build-integration svg {
        margin-bottom: 0;
        position: absolute;
        width: 130px;
        height: 130px;
        left: -35px;
        top: calc(50% - 65px)
    }
}

@media (min-width:670px) {
    .card-build-integration .card-content {
        -ms-flex-preferred-size: 55%;
        flex-basis: 55%
    }
}

.card-build-integration .buttons {
    margin-top: 20px
}

@media (min-width:670px) {
    .card-build-integration .buttons {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
        margin-left: 20px;
        margin-top: 0;
        display: -ms-flexbox;
        display: flex
    }
}

.card-build-integration .buttons .common-Button {
    margin-top: 20px
}

@media (min-width:670px) {
    .card-build-integration .buttons .common-Button {
        margin-top: 0
    }
}

.card-build-integration .buttons:first-child,
.globalFooterCTA .buttons:first-child {
    margin-right: 15px
}

.listing-footerCTA {
    padding: 0 20px
}

@media (min-width:670px) {
    .listing-footerCTA {
        max-width: 1080px;
        margin: 0 auto;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width:670px) {
    .listing-footerCTA .icon-wrapper {
        -ms-flex: 7%;
        flex: 7%
    }
}

.listing-footerCTA .icon-wrapper svg {
    width: 57px;
    height: 52px
}

@media (min-width:670px) {
    .listing-footerCTA .icon-wrapper svg {
        width: 73px;
        height: 68px
    }
}

@media (min-width:670px) {
    .listing-footerCTA .text-content {
        -ms-flex: 55%;
        flex: 55%
    }
}

@media (min-width:670px) {
    .listing-footerCTA .buttons {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex: 24%;
        flex: 24%
    }
}

body.workswith.landing .globalNav .colorize {
    color: #fff
}

body.workswith.listing .globalNav .colorize {
    color: #32325d
}

.Header-container {
    position: relative;
    padding: 0
}

@media (min-width:670px) {
    .Header-container {
        padding: 0 20px;
        padding-left: 20px
    }
}

.Header {
    padding-top: 60px;
    text-align: center;
    margin: 0
}

@media (min-width:670px) {
    body.workswith.listing .Header {
        margin-bottom: 75px
    }
}

.Workswith-backToLandingLink {
    color: #6772e5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    display: block;
    margin-bottom: 10px;
    text-align: center
}

@media (min-width:670px) {
    .Workswith-backToLandingLink {
        font-size: 20px;
        text-align: left
    }
}

.Workswith-backToLandingLink:before {
    content: '\279D';
    display: inline-block;
    transform: scaleX(-1);
    position: relative;
    top: 6px;
    margin-right: 10px;
    margin-bottom: 20px;
    font: normal 48px/24px StripeIcons;
    line-height: 21px
}

@media (min-width:670px) {
    .Workswith-backToLandingLink:before {
        margin-bottom: 0
    }
}

@media (min-width:670px) {
    .Header-subTitle {
        display: block
    }
}

.workswith.listing .Header-subTitle {
    padding: 0 20px
}

@media (min-width:670px) {
    .workswith.listing .Header-subTitle {
        max-width: 730px;
        padding: 0
    }
}

.common-PageTitle {
    text-align: left
}

body.workswith.landing .common-PageTitle {
    color: #fff;
    font-size: 36px;
    line-height: 44px;
    max-width: 630px;
    margin-top: 25px;
    text-align: center
}

@media (min-width:670px) {
    body.workswith.landing .common-PageTitle {
        font-size: 40px;
        line-height: 50px;
        margin-top: 80px;
        text-align: left
    }
}

body.workswith.listing .common-PageTitle {
    color: #32335c;
    max-width: 765px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media (min-width:670px) {
    body.workswith.listing .common-PageTitle {
        margin-top: 80px;
        margin-bottom: 25px;
        text-align: left;
        width: auto
    }
}

body.workswith.landing .Header-subTitle {
    display: block;
    font-size: 29px;
    line-height: 37px;
    margin-top: 10px;
    padding: 0 20px
}

@media (min-width:670px) {
    body.workswith.landing .Header-subTitle {
        font-size: 40px;
        line-height: 50px;
        padding: 0;
        margin-top: 0
    }
}

body.workswith.listing .Header-subTitle {
    color: #6b7c93;
    font-size: 17px;
    line-height: 26px;
    margin-top: 15px;
    display: block
}

@media (min-width:670px) {
    body.workswith.listing .Header-subTitle {
        font-size: 24px;
        line-height: 36px;
        margin-top: 25px
    }
}

.common-PageSubtitle {
    color: #43458b
}

.Workswith-featuredIntegrationsHeader .Workswith-integrationLink.extended {
    text-align: left
}

.Workswith-listingMainRow {
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 25px
}

@media (min-width:670px) {
    .Workswith-listingMainRow {
        margin-top: 0;
        margin-bottom: 0
    }
}

.Workswith-integrationLink {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: block;
    text-decoration: none;
    padding: 0;
    min-width: 180px;
    height: 50px;
    margin-bottom: 25px;
    -webkit-scroll-snap-coordinate: 50% 0;
    -ms-scroll-snap-coordinate: 50% 0;
    scroll-snap-coordinate: 50% 0
}

@media (min-width:670px) {
    .Workswith-integrationLink {
        min-width: 210px;
        height: auto
    }
}

.Workswith-integrationLink .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center
}

.Workswith-integrationLinkPlaceholder {
    width: 210px;
    -ms-flex: 1;
    flex: 1;
    height: 50px
}

@media (min-width:670px) {
    .Workswith-integrationLinkPlaceholder {
        height: 60px
    }
}

.Workswith-integrationLink .Workswith-integrationName {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    margin-top: 2px;
    margin-bottom: 4px;
    color: #32325d;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px
}

.Workswith-integrationLink.extended .Workswith-integrationName {
    margin-top: 13px;
    font-size: 17px;
    margin: 0;
    line-height: normal;
    max-width: 150px
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended .Workswith-integrationName {
        font-size: 18px;
        margin-top: 13px;
        max-width: 180px
    }
}

.Workswith-integrationLink .Workswith-integrationCategory {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6b7c93;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 150px
}

@media (min-width:670px) {
    .Workswith-integrationLink .Workswith-integrationCategory {
        font-size: 15px;
        line-height: 18px
    }
}

.Workswith-integrationLink.extended .Workswith-integrationCategory {
    font-size: 15px;
    line-height: 26px
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended .Workswith-integrationCategory {
        font-size: 15px;
        line-height: 18px
    }
}

.Workswith-integrationIconPlaceholder {
    background: #8898a9
}

.Workswith-integrationIcon {
    background: #fff
}

.Workswith-integrationIcon,
.Workswith-integrationIconPlaceholder {
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 17px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (min-width:670px) {
    .Workswith-integrationIcon,
    .Workswith-integrationIconPlaceholder {
        width: 60px;
        height: 60px
    }
}

.Workswith-integrationLink.extended {
    background: #fff;
    padding: 0 20px;
    margin-bottom: 25px;
    height: auto;
    -ms-flex: 100%;
    flex: 100%
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended {
        -ms-flex: 50%;
        flex: 50%;
        max-width: calc(50% - 15px)
    }
}

.Workswith-integrationLink.extended .Workswith-integrationCategory {
    color: #6772e5;
    font-weight: 500;
    white-space: nowrap
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended .Workswith-integrationCategory {
        white-space: normal
    }
}

.Workswith-integrationLink.extended .Workswith-integrationTagline {
    color: #6b7c93;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended .Workswith-integrationTagline {
        margin-top: 5px
    }
}

.Workswith-integrationLink.extended .Workswith-integrationIcon,
.Workswith-integrationLink.extended .Workswith-integrationIconPlaceholder {
    -ms-flex-item-align: start;
    align-self: flex-start
}

.Workswith-integrationLink.extended.featured .Workswith-featuredStar {
    background: linear-gradient(225deg, #f6bf4e, #f6bf4e 50%, transparent 0);
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 47px
}

.Workswith-integrationLink.extended.featured {
    border-radius: 4px;
    box-shadow: 0 15px 35px 0 rgba(23, 55, 87, .1), 0 5px 15px 0 rgba(0, 0, 0, .07);
    margin-bottom: 15px;
    padding: 15px 20px;
    padding-bottom: 25px;
    position: relative;
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .15s
}

@media (min-width:670px) {
    .Workswith-integrationLink.extended.featured {
        margin-bottom: 30px
    }
}

.Workswith-integrationLink.extended.featured:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07)
}

.Workswith-integrationLink.extended.featured:active {
    background-color: #f6f9fc;
    transform: translateY(2px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, .1), 0 6px 11px rgba(0, 0, 0, .08)
}

body.mobile-nav-open {
    overflow: hidden
}

body.mobile-nav-open .Workswith-sideNavWrapper {
    background: rgba(107, 124, 147, .4);
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999
}

body.mobile-nav-open .Workswith-sideNav {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 4px;
    margin: 10px;
    padding: 10px 25px
}

body.mobile-nav-open .Workswith-searchInputWrapper {
    left: -15px
}

.Workswith-sideNavHeader,
.Workswith-sideNavList {
    display: none
}

@media (min-width:670px) {
    .Workswith-sideNavHeader,
    .Workswith-sideNavList {
        display: block
    }
}

body.mobile-nav-open .Workswith-sideNavHeader,
body.mobile-nav-open .Workswith-sideNavList {
    display: block
}

.Workswith-mobileNavClose {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 21px 10px
}

.Workswith-mobileNavClose svg {
    width: 16px;
    height: 16px
}

body.mobile-nav-open .Workswith-mobileNavClose {
    display: block
}

@media (min-width:670px) {
    body.mobile-nav-open .Workswith-mobileNavClose {
        display: none
    }
}

body.mobile-nav-open .Workswith-sideNavWrapper {
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: bounceInUp
}

:root,
html {
    box-sizing: border-box;
    overflow: visible
}

body {
    display: block
}

body.modal-open {
    overflow: hidden
}

body.workswith.landing.modal-open .Header-subTitle {
    padding: 0 20px
}

@media (min-width:670px) {
    body.workswith.landing.modal-open .Header-subTitle {
        padding: 0
    }
}

.Workswith-modalBackdrop {
    background: rgba(107, 124, 147, .4);
    opacity: 0;
    display: none;
    overflow: hidden;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

body.workswith.modal-open .Workswith-modalBackdrop {
    display: block
}

.Workswith-modalContentWrapper {
    margin-top: 60px;
    margin-bottom: 20px
}

@media (min-width:670px) {
    .Workswith-modalContentWrapper {
        width: 860px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px
    }
}

.Workswith-modalContent {
    height: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 25px;
    margin: 40px 10px;
    position: relative
}

@media (min-width:670px) {
    .Workswith-modalContent {
        margin: 0;
        padding: 40px;
        background: linear-gradient(168deg, #f5f7fa, #f5f7fa 420px, #fff 0, #fff);
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1)
    }
}

.Workswith-modalLogo {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    display: block;
    margin: 0 auto;
    margin-top: -35px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px
}

@media (min-width:670px) {
    .Workswith-modalLogo {
        display: inline-block;
        margin: 0;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 100px;
        width: 100px;
        vertical-align: top
    }
}

.Workswith-modalIntegrationName {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center
}

@media (min-width:670px) {
    .Workswith-modalIntegrationName {
        text-align: left
    }
}

.Workswith-modalRating {
    display: -ms-flexbox;
    display: flex;
    display: none;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0 auto;
    -ms-flex-pack: center;
    justify-content: center
}

@media (min-width:670px) {
    .Workswith-modalRating {
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin: 0
    }
}

.Workswith-modalRatingLabel {
    margin-right: 10px;
    color: #6b7c93;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px
}

.Workswith-modalRatingMeter .dot {
    background: #d5dde6;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 8px;
    margin-right: 5px
}

.Workswith-modalRating.rating-3 .Workswith-modalRatingMeter .dot.three,
.Workswith-modalRating.rating-4 .Workswith-modalRatingMeter .dot.four,
.Workswith-modalRating.rating-4 .Workswith-modalRatingMeter .dot.three,
.Workswith-modalRating.rating-5 .Workswith-modalRatingMeter .dot.five,
.Workswith-modalRating.rating-5 .Workswith-modalRatingMeter .dot.four,
.Workswith-modalRating.rating-5 .Workswith-modalRatingMeter .dot.three,
.Workswith-modalRating .Workswith-modalRatingMeter .dot.one,
.Workswith-modalRating .Workswith-modalRatingMeter .dot.two {
    background: #f6bf4e
}

.Workswith-modalCategory {
    color: #6875e2;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    text-align: center
}

@media (min-width:670px) {
    .Workswith-modalCategory {
        text-align: left;
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

.Workswith-modalCategory.first {
    display: none
}

@media (min-width:670px) {
    .Workswith-modalCategory.first {
        display: block
    }
}

@media (min-width:670px) {
    .Workswith-modalCategory.second {
        display: none
    }
}

.Workswith-modalLearnMore.first {
    display: none
}

@media (min-width:670px) {
    .Workswith-modalLearnMore.first {
        display: block
    }
}

@media (min-width:670px) {
    .Workswith-modalLearnMore.second {
        display: none
    }
}

.Workswith-modalIntegrationDescription {
    margin-bottom: 20px
}

.Workswith-modalThumbnailView {
    width: 100%;
    width: calc(100% + 50px);
    position: relative;
    left: -25px;
    padding: 10px 25px;
    white-space: nowrap;
    margin-top: 50px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: calc(50% + 13px) 0;
    -ms-scroll-snap-destination: calc(50% + 13px) 0;
    scroll-snap-destination: calc(50% + 13px) 0
}

@media (min-width:670px) {
    .Workswith-modalThumbnailView {
        -webkit-scroll-snap-type: none;
        -ms-scroll-snap-type: none;
        scroll-snap-type: none;
        overflow-x: auto;
        width: 100%;
        width: calc(100% + 80px);
        left: -40px;
        padding: 10px 40px
    }
}

.Workswith-modalThumbnailView::-webkit-scrollbar {
    display: none
}

.Workswith-modalThumbnail {
    border-radius: 4px;
    box-shadow: 0 7px 14px 0 rgba(49, 49, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .08);
    max-width: 270px;
    max-height: 170px;
    margin-right: 20px;
    -webkit-scroll-snap-coordinate: 50% 0;
    -ms-scroll-snap-coordinate: 50% 0;
    scroll-snap-coordinate: 50% 0;
    display: inline-block
}

@media (min-width:670px) {
    .Workswith-modalThumbnail {
        max-width: 300px;
        max-height: 188px
    }
}

.Workswith-modalThumbnail:last-child {
    margin-right: 0
}

.Workswith-modalDetail {
    margin-bottom: 20px;
    width: 100%
}

@media (min-width:670px) {
    .Workswith-modalDetail {
        width: auto;
        vertical-align: top;
        display: inline-block;
        max-width: 235px
    }
}

.Workswith-modalIntegrationHowItWorks {
    background: #fff;
    margin-bottom: 20px
}

@media (min-width:670px) {
    .Workswith-modalIntegrationHowItWorks {
        border-radius: 4px;
        width: 360px;
        margin-left: auto;
        margin-bottom: 0;
        padding: 30px;
        box-shadow: 0 7px 14px 0 rgba(49, 49, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .08)
    }
}

.Workswith-modalIntegrationHowItWorks .common-BodyTitle {
    margin-bottom: 5px
}

.Workswith-modalClose {
    display: none;
    position: absolute;
    padding: 16px;
    right: 0;
    top: 0
}

.swipe-slide:only-child .Workswith-modalClose,
.swiper-slide-active .Workswith-modalClose {
    display: block
}

.Workswith-modalClose svg {
    width: 16px;
    height: 16px
}

@media (min-width:670px) {
    .Workswith-modalFirstColumn,
    .Workswith-modalSecondColumn {
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%
    }
}

@media (min-width:670px) {
    .Workswith-modalFirstColumn {
        max-width: 360px
    }
}

@media (min-width:670px) {
    .Workswith-modalSecondColumn {
        margin-left: auto
    }
}

@keyframes bounceInUp {
    0%,
    50%,
    to {
        animation-timing-function: cubic-bezier(.215, .61, 1)
    }
    0% {
        opacity: .4;
        transform: translate3d(0, 200px, 0)
    }
    50% {
        transform: translate3d(0, -10px, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateZ(0)
    }
    50% {
        opacity: .4;
        transform: translate3d(0, 25px, 0)
    }
    to {
        opacity: .2;
        transform: translate3d(0, 40px, 0)
    }
}

.animate-enter {
    animation-delay: .05s;
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: bounceInUp
}

.animate-exit {
    animation-name: fadeOutDown;
    animation-duration: .6s;
    animation-fill-mode: both
}

.container {
    position: relative
}

.Workswith-section#callouts {
    margin-top: 10px;
    margin-bottom: 40px
}

@media (min-width:670px) {
    .Workswith-section#callouts {
        margin-top: 32px;
        margin-bottom: 100px
    }
}

@media (min-width:670px) {
    .Workswith-mainContentWrapper {
        padding-left: 30px;
        padding-bottom: 100px;
        width: auto;
        -ms-flex-preferred-size: 75.962%;
        flex-basis: 75.962%
    }
}

@media (min-width:670px) {
    .Workswith-sideNav {
        padding-bottom: 80px
    }
}

.Workswith-sideNavWrapper {
    width: 100%
}

@media (min-width:670px) {
    .Workswith-sideNavWrapper {
        position: static;
        margin: 0;
        width: auto;
        background: transparent;
        padding: 0;
        z-index: auto;
        border-right: 2px solid #f5f8fb;
        -ms-flex-preferred-size: 23.7%;
        flex-basis: 23.7%
    }
}

.Workswith-searchResultsWrapper {
    height: 36px;
    position: relative
}

.Workswith-searchInputWrapper {
    position: relative;
    padding-right: 45px;
    margin-bottom: 10px
}

@media (min-width:670px) {
    .Workswith-searchInputWrapper {
        max-width: 205px;
        margin-right: 20px;
        margin-bottom: 40px;
        position: relative;
        left: -15px
    }
}

.Workswith-sideNav input.Workswith-searchInput {
    transition: background-color .5s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../../../img/v3/workswith/nav/search-icon.svg);
    background-color: #f6f9fc;
    background-repeat: no-repeat;
    background-position: 15px 11px;
    height: 36px;
    border-radius: 36px;
    font-size: 17px;
    padding: 0;
    padding-left: 45px;
    border: none;
    width: 100%
}

.Workswith-searchInput:focus {
    outline: none
}

.Workswith-sideNav input.Workswith-searchInput::-webkit-input-placeholder {
    color: #aab7c4
}

.Workswith-sideNav .Workswith-searchIcon {
    position: absolute;
    left: 3px;
    top: 11px;
    height: 15px;
    width: 15px
}

.Workswith-sideNavHeader {
    margin-bottom: 5px
}

.Workswith-sideNavList {
    list-style-type: none;
    margin-bottom: 35px;
    padding: 0
}

.Workswith-sideNavListItem {
    margin-bottom: 10px
}

.Workswith-sideNavLink {
    color: #6772e5;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-decoration: none;
    transition: color .1s
}

@media (min-width:670px) {
    .Workswith-sideNavLink {
        color: #6c7c92
    }
}

.Workswith-sideNavLink:hover {
    color: #6772e5
}

.Workswith-sideNavLink.active {
    color: #6772e5;
    font-weight: 500
}

.Workswith-searchResults {
    opacity: 0;
    pointer-events: none;
    will-change: transform, opacity;
    transition-property: transform, opacity;
    transition-duration: .2s
}

@media (min-width:670px) {
    .Workswith-searchResults {
        transform: rotate3d(1, 1, 0, -15deg);
        transform-origin: 100% 0
    }
}

.Workswith-searchResults.open {
    opacity: 1;
    pointer-events: auto;
    transform: none
}

.Workswith-searchResults {
    position: relative;
    left: -25px;
    width: calc(100% + 50px)
}

@media (min-width:670px) {
    .Workswith-searchResults {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 15px 35px 0 rgba(23, 55, 87, .1), 0 5px 15px 0 rgba(0, 0, 0, .07);
        position: absolute;
        top: 45px;
        left: 0;
        width: 330px;
        max-height: 350px;
        overflow-y: scroll;
        z-index: 1
    }
}

.Workswith-searchResults::-webkit-scrollbar {
    display: none
}

.Workswith-searchResultsList {
    list-style-type: none;
    margin: 10px 0
}

.Workswith-searchResultsItem {
    padding: 8px 15px
}

@media (min-width:670px) {
    .Workswith-searchResultsItem {
        background: #fff;
        padding: 8px 15px
    }
}

.Workswith-integrationLogo {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    margin-right: 13px;
    float: left
}

@media (min-width:670px) {
    .Workswith-integrationLogo {
        width: 40px;
        height: 40px
    }
}

.Workswith-searchResultLink:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.Workswith-searchResultName {
    color: #32325d;
    font-size: 17px;
    font-weight: 500
}

@media (min-width:670px) {
    .Workswith-searchResultName {
        font-size: 16px;
        margin-bottom: 4px
    }
}

.Workswith-searchResultCategory {
    color: #6b7c93;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px
}

@media (min-width:670px) {
    .Workswith-searchResultCategory {
        font-size: 14px;
        line-height: normal
    }
}

.Workswith-searchResultsList .Workswith-searchResultsItem.highlighted {
    background: #e6ebf1
}

.StripeBackground-container {
    position: absolute;
    width: 100%;
    overflow: hidden
}

.StripeBackground-large,
.StripeBackground-small {
    transform: skew(0, -12deg);
    will-change: transform;
    position: absolute;
    left: 0;
    right: 0
}

.StripeBackground-large .stripe,
.StripeBackground-small .stripe {
    position: absolute;
    height: 50px;
    top: auto
}

body.workswith.landing .StripeBackground-container {
    height: 490px
}

@media (min-width:670px) {
    body.workswith.landing .StripeBackground-container {
        height: 1000px
    }
}

body.workswith.landing .StripeBackground-small {
    bottom: 0
}

@media (min-width:670px) {
    body.workswith.landing .StripeBackground-small {
        display: none
    }
}

body.workswith.landing .StripeBackground-large {
    display: none
}

@media (min-width:670px) {
    body.workswith.landing .StripeBackground-large {
        display: block;
        bottom: 51%
    }
}

body.workswith.landing .StripeBackground-large .gradient {
    background-image: linear-gradient(90deg, #4fcbce, #58bbed 30%, #7e9aff 58%, #ce8beb);
    bottom: 0;
    left: 0;
    right: 0;
    height: 5000px;
    margin-bottom: 50px
}

body.workswith.landing .StripeBackground-large .stripe.below {
    bottom: -50px;
    left: calc(100% - 440px);
    right: calc(50% - 572px);
    background-image: linear-gradient(90deg, #f6f9fc, #edf3fa 95%)
}

body.workswith.landing .StripeBackground-large .stripe.s1 {
    background-image: linear-gradient(90deg, #77f7ad, #3fe2db);
    bottom: 0;
    left: 0;
    right: calc(100% - 355px)
}

body.workswith.landing .StripeBackground-large .stripe.s2 {
    background-image: linear-gradient(90deg, #edf6ff 6%, #edf6ff 23%, #fff 95%);
    bottom: 0;
    left: 355px;
    right: 600px
}

body.workswith.landing .StripeBackground-large .stripe.s3 {
    background-image: linear-gradient(270deg, #ffcd42 3%, #f6e870);
    bottom: 0;
    left: calc(50% + 260px);
    right: 0
}

body.workswith.landing .StripeBackground-large .stripe.s4 {
    background-image: linear-gradient(90deg, #5dd8f6, #52e4e7 98%);
    bottom: 50px;
    left: 0;
    right: calc(50% + 475px)
}

body.workswith.landing .StripeBackground-large .stripe.s5 {
    background-image: linear-gradient(90deg, #5dd1f6, #6acbf9 98%);
    bottom: 50px;
    left: calc(50% - 450px);
    right: calc(100% - 510px)
}

body.workswith.landing .StripeBackground-large .stripe.s6 {
    background-image: linear-gradient(90deg, #facb6c, #ffab43 98%);
    bottom: 50px;
    left: calc(50% + 360px);
    right: 0
}

body.workswith.landing .StripeBackground-large .stripe.s7 {
    background-image: linear-gradient(90deg, #8a7dff 3%, #c585f0 97%);
    bottom: 100px;
    left: calc(50% + 305px);
    right: 0
}

body.workswith.landing .StripeBackground-large .stripe.s8 {
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .25) 3%, hsla(0, 0%, 100%, 0) 96%);
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: 53px;
    right: calc(50% + 220px)
}

body.workswith.landing .StripeBackground-large .stripe.s9 {
    background: #fff;
    opacity: .15;
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: 50%;
    right: calc(50% - 210px)
}

body.workswith.landing .StripeBackground-large .stripe.s10 {
    background: #fff;
    opacity: .15;
    mix-blend-mode: soft-light;
    bottom: 150px;
    left: calc(50% + 430px);
    right: 0
}

body.workswith.landing .StripeBackground-large .stripe.s11 {
    background: rgba(0, 0, 0, .12);
    mix-blend-mode: soft-light;
    bottom: 200px;
    left: calc(50% - 430px);
    right: calc(50% + 200px)
}

body.workswith.landing .StripeBackground-large .stripe.s12 {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .65) 97%);
    mix-blend-mode: soft-light;
    opacity: .27;
    bottom: 200px;
    left: calc(50% - 65px);
    right: calc(50% - 340px)
}

body.workswith.landing .StripeBackground-large .stripe.s13 {
    background-image: linear-gradient(90deg, #d98cf2, #f194e3 97%);
    bottom: 250px;
    right: 0;
    left: calc(50% + 390px)
}

body.workswith.landing .StripeBackground-large .stripe.s14 {
    background-image: linear-gradient(90deg, #8da7ff, #d196f4 97%);
    bottom: 300px;
    left: calc(50% + 175px);
    right: calc(50% - 495px)
}

body.workswith.landing .StripeBackground-small .gradient {
    background-image: linear-gradient(135deg, #4fcbce 9%, #58bbed 30%, #7e9aff 58%, #ce8beb);
    bottom: 0;
    left: 0;
    right: 0;
    height: 470px;
    margin-bottom: 100px
}

body.workswith.landing .StripeBackground-small .stripe.s1 {
    background-image: linear-gradient(90deg, #f6f9fc, #edf3fa 95%);
    bottom: 0;
    left: calc(100% - 130px);
    right: 0
}

body.workswith.landing .StripeBackground-small .stripe.s2 {
    background-image: linear-gradient(270deg, #ffcd42 3%, #f6e870);
    bottom: 50px;
    left: calc(100% - 285px);
    right: 0
}

body.workswith.landing .StripeBackground-small .stripe.s3 {
    background-image: linear-gradient(90deg, #d98cf2, #f194e3 97%);
    bottom: 100px;
    left: calc(100% - 175px);
    right: 0
}

body.workswith.landing .StripeBackground-small .stripe.s4 {
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, .25) 3%, hsla(0, 0%, 100%, 0) 96%);
    bottom: 150px;
    left: calc(100% - 320px);
    right: 95px
}

body.workswith.landing .StripeBackground-small .stripe.s5 {
    background: rgba(0, 0, 0, .12);
    mix-blend-mode: soft-light;
    bottom: 200px;
    right: 0;
    left: calc(100% - 170px)
}

.Workswith-screenshotZoomContainer {
    display: none;
    background: rgba(0, 0, 0, .4);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden
}

.Workswith-screenshotZoomContainer.open {
    display: block
}

.Workswith-screenshotScrollContainer {
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 50px 10px;
    height: 100%;
    margin: 0 auto;
    position: relative
}

@media (min-width:670px) {
    .Workswith-screenshotScrollContainer {
        padding: 30px;
        padding-bottom: 10px;
        padding-right: 40px;
        overflow: hidden;
        overflow-y: auto
    }
}

.Workswith-screenshotZoomClose {
    padding: 15px;
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1
}

@media (min-width:670px) {
    .Workswith-screenshotZoomClose {
        padding: 17px 12px;
        position: fixed;
        top: 0;
        right: 0
    }
}

.Workswith-screenshotZoomClose svg {
    width: 16px;
    height: 16px
}

.Workswith-screenshotZoomClose svg g {
    fill: #fff
}

.Workswith-screenshotZoom {
    max-width: 100%
}

.swipe-container {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999
}

.swipe-row {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex
}

.swipe-slide {
    width: 100%;
    height: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media (min-width:670px) {
    .swipe-slide {
        width: 80%;
        min-width: 880px;
        margin: 0 auto
    }
}

.swipe-scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.swipe-scroll::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none
}

.container,
.container-lg {
    max-width: 1080px
}











/*by me */
.featured-height{
    min-height: 235px;
}
.feat-1{
    background-image: url('https://s-media-cache-ak0.pinimg.com/564x/e4/15/64/e41564a4c2c01a4080a54fa94d69c638.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-2{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f7/d2/17/f7d217e22158f01f02bfe50df8abd06a.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-3{
    background-image: url('http://messagenote.com/wp-content/uploads/2011/05/contemporary-interior-design.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-4{
    background-image: url('http://www.radiusdevelopers.com/visual/homepage-banner/homebanner6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-5{
    background-image: url('https://www.czmcam.org/wp-content/uploads/2017/02/Decoration-ideas-for-living-room-earth-tones-living-room-modern-with-earth-tone-col-7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-6{
    background-image: url('http://cdn.home-designing.com/wp-content/uploads/2015/06/F98323CF-620A-42FE-B971-ADE4D1A5E877-600x400.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-7{
    background-image: url('https://s-media-cache-ak0.pinimg.com/564x/48/9d/af/489dafed9c7341ab96db13aeadb16dc0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-8{
    background-image: url('http://groliehome.com/wp-content/uploads/2015/08/living-room-cute-earth-tones-living-room-decoration-using-light-gray-velvet-rug-in-living-room-including-solid-oak-wood-tile-bedroom-flooring-and-large-glass-wall-in-living-room-ideas-delightful-pict.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-9{
    background-image: url('http://www.wohnzimmermoebel.org/images/loungemoebel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-10{
    background-image: url('https://shubindonaldson.com/wp-content/uploads/2017/04/modern-architecture-commercial-interiors-los-angeles-shubin-donaldson-broad-foundation-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-11{
    background-image: url('http://images.locanto.ae/1189842379/Loose-and-Modular-Fixed-Furniture-Carpentry-Top-Fit-Dubai_8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-12{
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/25/f7/08/25f708698722c56a7e52bd78fecd98d2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-13{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f5/3e/fb/f53efb8722cd8f342f933a266bb8b195.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-14{
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/cd/c0/d4/cdc0d49e3892930019e957b9b3f09c17.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
.feat-15{
    background-image: url('http://ceveta.com/wp-content/uploads/2016/12/innovative-mcdonald-interior-design-design-gallery.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 10px solid white;
}
@media (min-width: 670px){
.ApplePayWeb-section {
    padding: 100px 0;
}}
.ApplePayWeb-section {
    padding: 60px 0;
    position: relative;
}
.container {
    max-width: 1040px;
}
.container, .container-fluid, .container-wide {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
}
.row {
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.row {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-right: -.5rem;
    margin-right: 0;
    margin-left: -8px;
    margin-left: -.5rem;
    margin-left: 0;
}
@media (min-width: 670px){
.ApplePayWeb-textColumn {
    width: auto;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
}}

.ApplePayWeb-textColumn {
    width: 100%;
}
@media (min-width: 670px){
.ApplePayWeb-sectionHeaderIcon {
    position: static !important;
    margin-left: 0 !important;
}}
.ApplePayWeb-sectionHeaderIcon {
    width: 72px;
    height: 72px;
    position: relative;
    left: 50%;
    margin-left: -36px;
    margin-bottom: 15px;
}
@media (min-width: 670px){
.ApplePayWeb-iconHeader {
    text-align: left !important;
}}

.ApplePayWeb-iconHeader {
    text-align: center;
}

.common-Uppercase, .common-UppercaseTitle {
    color: #32325d;
}

.common-UppercaseTitle {
    margin-bottom: 30px;
}

.ApplePayWeb-firstInBox {
    margin-top: 0;
}

.common-BodyText {
    margin-top: 17px;
    margin-bottom: 17px;
}
@media (min-width: 670px){
.ApplePayWeb-cardColumn {
    width: auto;
    -ms-flex-preferred-size: 44%;
    flex-basis: 44%;
}}

.ApplePayWeb-cardColumn {
    width: 100%;
}
@media (min-width: 670px){
.ApplePayWeb-contentCard {
    width: auto;
    left: auto;
    max-width: 440px;
}}

.ApplePayWeb-contentCard {
    /*background: #fff;*/
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: calc(100% + 20px);
    left: -10px;
}
.nav-btn-if{
    color: white !important;
}
.nav-btn-if:hover{
    color: white !important;
}





/*model by me */
.modal-overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(82, 95, 127, 0);
    z-index: 1000;
    pointer-events: none;
    transition: background-color .25s ease-in-out
}

@media (min-width:670px) {
    .modal-overlay {
        padding: 50px
    }
}

.modal-overlay.visible {
    background-color: rgba(82, 95, 127, .4);
    pointer-events: all
}

.modal-overlay.visible .join-modal {
    opacity: 1;
    transform: none
}

.modal-overlay.visible .join-modal.success>.success .content {
    pointer-events: all
}

.join-modal {
    position: relative;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    transform: scale(.75);
    transition: transform .25s cubic-bezier(.175, .885, .32, 1.275), opacity .25s cubic-bezier(.175, .885, .32, 1.275)
}

.join-modal.success>div:not(.success) {
    opacity: 0
}

.join-modal.success>.success .content {
    opacity: 1;
    transform: none
}

.join-modal>.close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url(../../../img/v3/atlas/close.svg);
    cursor: pointer
}

.join-modal>.close:active {
    opacity: .65
}

.join-modal>div {
    padding: 20px;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1)
}

@media (min-width:670px) {
    .join-modal>div {
        padding: 30px
    }
}

.join-modal>div h2 {
    font-size: 17px
}

.join-modal>div p {
    font-size: 15px;
    line-height: 24px
}

.join-modal>div h2+p {
    margin-top: 5px
}

.join-modal>.request-access header {
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.join-modal>.request-access header .logo {
    margin-right: 20px
}

.join-modal>.request-access form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 25px
}

.join-modal>.request-access form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0
}

.join-modal>.request-access form .row+.row {
    border-top: 1px solid #f3f5f8
}

.join-modal>.request-access form .row.invalid .label {
    color: #e25950
}

.join-modal>.request-access form .label {
    color: #32325d;
    width: 40%;
    padding-right: 10px
}

.join-modal>.request-access form input,
.join-modal>.request-access form textarea {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    border: none;
    outline: none;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif
}

.join-modal>.request-access form input::-webkit-input-placeholder,
.join-modal>.request-access form textarea::-webkit-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input::-moz-placeholder,
.join-modal>.request-access form textarea::-moz-placeholder {
    color: #aab7c4;
    opacity: 1
}

.join-modal>.request-access form input:-ms-input-placeholder,
.join-modal>.request-access form textarea:-ms-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input[type=text],
.join-modal>.request-access form textarea {
    margin: 0;
    padding: 0;
    width: 60%;
    color: #32325d
}

.join-modal>.request-access form input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer
}

.join-modal>.request-access form textarea {
    resize: none;
    min-height: 70px
}

.join-modal>.request-access form .select {
    position: relative;
    width: 60%
}

.join-modal>.request-access form .select:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 5px;
    top: 50%;
    margin-top: -2px;
    right: 0;
    background-image: url(../../../img/v3/atlas/select-arrow.svg)
}

.join-modal>.request-access form .select select {
    display: block;
    position: relative;
    width: calc(100% - 25px);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 15px;
    line-height: 24px;
    color: #32325d;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    cursor: pointer
}

.join-modal>.request-access form .select select:focus {
    color: #6772e5
}

.join-modal>.use-invite {
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f9fc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.join-modal>.use-invite .icon {
    margin: -3px 20px 0 -2px
}

.join-modal>.use-invite .common-Link {
    font-weight: 400
}

.join-modal>.use-invite .use-invite {
    margin-top: 5px
}

.join-modal>.use-invite .use-invite a {
    font-weight: 500
}

.join-modal>.success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.join-modal>.success .content {
    text-align: center;
    opacity: 0;
    transform: scale(1.5);
    transition-property: opacity, transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.join-modal>.success .icon {
    margin-top: 10px;
    margin-bottom: 30px
}

.join-modal>.success h2 {
    margin-bottom: 10px
}

.join-modal>.success h2,
.join-modal>.success p {
    max-width: 450px
}











.dropdownContent2{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/6e/44/f6/6e44f62bfdec38d7002df2a62bfedb8c.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
    height:200px;
    border:5px solid white;
}
.dropdownContent3{
    background-image: url("http://cdn.homedsgn.com/wp-content/uploads/2014/03/31-Shipping-Container-House-01-850x566.jpg");
    background-size: cover;
    background-position: center;
    height:200px;
    border:5px solid white;
    width: 70%;
}












/*model1 by me */
.modal-overlay1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(82, 95, 127, 0);
    z-index: 1000;
    pointer-events: none;
    transition: background-color .25s ease-in-out
}

@media (min-width:670px) {
    .modal-overlay1 {
        padding: 50px
    }
}

.modal-overlay1.visible {
    background-color: rgba(82, 95, 127, .4);
    pointer-events: all
}

.modal-overlay1.visible .join-modal1 {
    opacity: 1;
    transform: none
}

.modal-overlay1.visible .join-modal1.success>.success .content {
    pointer-events: all
}

.join-modal1 {
    position: relative;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    transform: scale(.75);
    transition: transform .25s cubic-bezier(.175, .885, .32, 1.275), opacity .25s cubic-bezier(.175, .885, .32, 1.275)
}

.join-modal1.success>div:not(.success) {
    opacity: 0
}

.join-modal1.success>.success .content {
    opacity: 1;
    transform: none
}

.join-modal1>.close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url(../../../img/v3/atlas/close.svg);
    cursor: pointer
}

.join-modal1>.close:active {
    opacity: .65
}

.join-modal1>div {
    padding: 20px;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1)
}

@media (min-width:670px) {
    .join-modal1>div {
        padding: 30px
    }
}

.join-modal1>div h2 {
    font-size: 17px
}

.join-modal1>div p {
    font-size: 15px;
    line-height: 24px
}

.join-modal1>div h2+p {
    margin-top: 5px
}

.join-modal1>.request-access1 header {
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.join-modal1>.request-access1 header .logo {
    margin-right: 20px
}

.join-modal1>.request-access1 form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 25px
}

.join-modal1>.request-access1 form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0
}

.join-modal1>.request-access1 form .row+.row {
    border-top: 1px solid #f3f5f8
}

.join-modal1>.request-access1 form .row.invalid .label {
    color: #e25950
}

.join-modal1>.request-access1 form .label {
    color: #32325d;
    width: 40%;
    padding-right: 10px
}

.join-modal1>.request-access1 form input,
.join-modal1>.request-access1 form textarea {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    border: none;
    outline: none;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif
}

.join-modal1>.request-access1 form input::-webkit-input-placeholder,
.join-modal1>.request-access1 form textarea::-webkit-input-placeholder {
    color: #aab7c4
}

.join-modal1>.request-access1 form input::-moz-placeholder,
.join-modal1>.request-access1 form textarea::-moz-placeholder {
    color: #aab7c4;
    opacity: 1
}

.join-modal1>.request-access1 form input:-ms-input-placeholder,
.join-modal1>.request-access1 form textarea:-ms-input-placeholder {
    color: #aab7c4
}

.join-modal1>.request-access1 form input[type=text],
.join-modal1>.request-access1 form textarea {
    margin: 0;
    padding: 0;
    width: 60%;
    color: #32325d
}

.join-modal1>.request-access1 form input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer
}

.join-modal1>.request-access1 form textarea {
    resize: none;
    min-height: 70px
}

.join-modal1>.request-access1 form .select {
    position: relative;
    width: 60%
}

.join-modal1>.request-access1 form .select:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 5px;
    top: 50%;
    margin-top: -2px;
    right: 0;
    background-image: url(../../../img/v3/atlas/select-arrow.svg)
}

.join-modal1>.request-access1 form .select select {
    display: block;
    position: relative;
    width: calc(100% - 25px);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 15px;
    line-height: 24px;
    color: #32325d;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    cursor: pointer
}

.join-modal1>.request-access1 form .select select:focus {
    color: #6772e5
}

.join-modal1>.use-invite {
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f9fc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.join-modal1>.use-invite .icon {
    margin: -3px 20px 0 -2px
}

.join-moda1l>.use-invite .common-Link {
    font-weight: 400
}

.join-modal1>.use-invite .use-invite {
    margin-top: 5px
}

.join-modal1>.use-invite .use-invite a {
    font-weight: 500
}

.join-modal1>.success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.join-modal1>.success .content {
    text-align: center;
    opacity: 0;
    transform: scale(1.5);
    transition-property: opacity, transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.join-modal1>.success .icon {
    margin-top: 10px;
    margin-bottom: 30px
}

.join-modal1>.success h2 {
    margin-bottom: 10px
}

.join-modal1>.success h2,
.join-modal1>.success p {
    max-width: 450px
}







.modal-overlay1.visible .join-modal1 {
    opacity: 1;
    transform: none;
    min-width: 70%;
    min-height: 90%;
}