* {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: camphor;
}

.globalFooter {
    background: #f3f5f8
}

html#about body {
    background: #fff;
    -webkit-font-smoothing: antialiased
}

html#about body .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
    clear: both
}

html#about body a:focus {
    outline: none
}

.interactionFill {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .35s cubic-bezier(.165, .84, .44, 1), opacity .35s cubic-bezier(.165, .84, .44, 1);
    transition: transform .35s cubic-bezier(.165, .84, .44, 1), opacity .35s cubic-bezier(.165, .84, .44, 1);
    z-index: 0
}

.interactionFill.show {
    -webkit-transform: none;
    transform: none
}

.interactionFill.hide {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

#main-content>section>.content {
    position: relative;
    max-width: 952px;
    margin: 0 auto
}

@media screen and (max-width:1012px) {
    #main-content>section>.content {
        max-width: 748px
    }
}

.popover,
html.tablet .popover {
    position: absolute;
    box-sizing: border-box;
    z-index: 10000;
    width: 210px;
    margin-left: -105px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 8px 13px rgba(0, 0, 0, .2);
    pointer-events: none;
    padding: 16px 18px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: scale(.4);
    transform: scale(.4);
    -webkit-transform-origin: 50% 110%;
    transform-origin: 50% 110%;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .2s ease-in-out, transform .3s ease-in-out
}

.popover.visible,
html.tablet .popover.visible {
    opacity: 1;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .3s cubic-bezier(.19, 1.4, .45, 1);
    transition: opacity .2s ease-in-out, transform .3s cubic-bezier(.19, 1.4, .45, 1)
}

.popover .arrow,
html.tablet .popover .arrow {
    position: absolute;
    width: 50px;
    height: 30px;
    bottom: -30px;
    left: 50%;
    margin-left: -25px;
    overflow: hidden
}

.popover .arrow:after,
html.tablet .popover .arrow:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -8px;
    left: 50%;
    margin-left: -8px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 4px 4px 13px rgba(0, 0, 0, .15);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.popover.left,
html.tablet .popover.left {
    -webkit-transform-origin: 110% 50%;
    transform-origin: 110% 50%
}

.popover.left .arrow,
html.tablet .popover.left .arrow {
    width: 30px;
    height: 50px;
    left: 100%;
    margin-left: 0;
    top: 50%;
    margin-top: -25px;
    bottom: auto
}

.popover.left .arrow:after,
html.tablet .popover.left .arrow:after {
    top: 50%;
    margin-top: -8px;
    left: -8px;
    margin-left: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 8px 0 13px rgba(0, 0, 0, .15)
}

.popover.right,
html.tablet .popover.right {
    -webkit-transform-origin: -10% 50%;
    transform-origin: -10% 50%
}

.popover.right .arrow,
html.tablet .popover.right .arrow {
    width: 30px;
    height: 50px;
    left: -30px;
    margin-left: 0;
    top: 50%;
    margin-top: -25px;
    bottom: auto
}

.popover.right .arrow:after,
html.tablet .popover.right .arrow:after {
    top: 50%;
    margin-top: -8px;
    left: 100%;
    margin-left: -8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 8px 13px rgba(0, 0, 0, .15)
}

.popover h1,
html.tablet .popover h1 {
    font-size: 14px;
    color: #313b3f;
    font-weight: 500;
    padding: 0;
    margin: 0
}

.popover p,
html.tablet .popover p {
    font-size: 12px;
    color: #6f7c82;
    padding: 10px 0 0;
    margin: 0
}

section#team .content {
    box-sizing: border-box;
    text-align: center;
    padding: 90px 120px 15px
}

section#team .content h1 {
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: .3em
}

@media screen and (max-width:479px) {
    section#team .content h1 {
        font-size: 2em
    }
}

section#team .content p {
    font-size: 1.8em
}

@media screen and (max-width:1012px) {
    section#team .content p {
        font-size: 1.6em
    }
}

@media screen and (max-width:479px) {
    section#team .content p {
        font-size: 1.1em
    }
}

@media screen and (max-width:479px) {
    section#team .content {
        padding: 20px 20px 0
    }
}

section#team .employees {
    position: relative;
    height: 450px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 70px
}

@media screen and (max-width:479px) {
    section#team .employees {
        height: 300px;
        margin-bottom: 40px
    }
}

section#team .employees .team {
    width: 100%;
    overflow: hidden;
    background: #fff
}

section#team .employees .team,
section#team .employees .team .people {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%
}

section#team .employees .team .employee {
    position: absolute;
    overflow: visible
}

section#team .employees .team .employee .circle {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-size: 100% 100%;
    display: block
}

section#team .employees .team .employee .highlight {
    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #2d81ff;
    z-index: 5;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0)
}

section#team .employees .team .employee .highlight.visible {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .4s cubic-bezier(.28, 1.9, .61, 1);
    transition: all .4s cubic-bezier(.28, 1.9, .61, 1);
    opacity: 1;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none
}

section#team .employees .team .inter {
    position: absolute;
    left: -200px;
    top: 0;
    width: 400px;
    height: 100%;
    pointer-events: none
}

section#team .employees .team .inter .bookend {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1.5px #d8dee3;
    background-image: url(../img/about/bookend-logo.svg);
    background-position: 50%;
    background-repeat: no-repeat
}

section#team .employees .search {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -30px;
    width: 320px;
    height: 60px;
    background: transparent
}

section#team .employees .search input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: url(../img/about/search-icon.svg);
    background-position: 0 18px;
    background-repeat: no-repeat;
    border: none;
    font-size: 28px;
    padding-left: 42px;
    color: #313b3f;
    background-color: transparent
}

section#team .employees .search input:focus {
    outline: none
}

section#about {
    position: relative;
    background: #249bd6;
    background: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15)), -webkit-linear-gradient(bottom right, #49c3c9, #249bd6 50%, #0c5b9c);
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15)), linear-gradient(to top left, #49c3c9, #249bd6 50%, #0c5b9c);
    background-blend-mode: soft-light;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: -10px;
    margin-right: -10px;
    color: #b5deff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

@media screen and (max-width:479px) {
    section#about {
        padding-top: 50px;
        padding-bottom: 50px;
        background: -webkit-linear-gradient(bottom right, #52d1d7, #28a4e4 50%, #1163a8);
        background: linear-gradient(to top left, #52d1d7, #28a4e4 50%, #1163a8)
    }
}

section#about a,
section#about h1,
section#about h2,
section#about h3 {
    color: #fff
}

section#about .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

@media screen and (max-width:479px) {
    section#about .content {
        display: block
    }
}

section#about section.bio {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-right: 75px
}

@media screen and (max-width:479px) {
    section#about section.bio {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }
}

section#about section.bio a:active {
    opacity: .65;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    -webkit-filter: alpha(opacity=65);
    -moz-filter: alpha(opacity=65);
    -ms-filter: alpha(opacity=65);
    -o-filter: alpha(opacity=65);
    filter: alpha(opacity=65)
}

section#about section.bio h2 {
    font-weight: 400
}

section#about section.bio h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
    font-weight: 400
}

@media screen and (max-width:1012px) {
    section#about section.bio h3 {
        font-size: 1.6em
    }
}

@media screen and (max-width:479px) {
    section#about section.bio h3 {
        font-size: 1.1em
    }
}

section#about ul.links {
    display: block;
    position: relative;
    float: right;
    box-sizing: border-box;
    width: 50%;
    padding-left: 75px;
    list-style-type: none;
    margin: 0
}

@media screen and (max-width:479px) {
    section#about ul.links {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 25px
    }
}

section#about ul.links li {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: inset 0 0 0 1px rgba(0, 109, 162, .3);
    border-radius: 5px
}

section#about ul.links li a {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 27px 45px 25px 100px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

@media screen and (max-width:479px) {
    section#about ul.links li a {
        padding-top: 17px;
        padding-bottom: 15px
    }
}

section#about ul.links li a h3 {
    margin: 0 0 .1em
}

@media screen and (max-width:479px) {
    section#about ul.links li a h3 {
        font-size: 1.1em
    }
}

section#about ul.links li a p {
    color: #b5e9ff;
    margin: 0;
    font-size: 1.4em
}

@media screen and (max-width:479px) {
    section#about ul.links li a p {
        font-size: .9em
    }
}

section#about ul.links li a:before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    left: 16px
}

section#about ul.links li a:after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 9px;
    top: 50%;
    margin-top: -5px;
    right: 20px;
    background-image: url(../img/about/link-arrow.svg)
}

section#about ul.links li.press a:before {
    background-image: url(../img/about/link-icon-press.png)
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#about ul.links li.press a:before {
        background-image: url(../img/about/link-icon-press%402x.png);
        background-size: 100% 100%
    }
}

section#about ul.links li.resources a:before {
    background-image: url(../img/about/link-icon-resources.png)
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#about ul.links li.resources a:before {
        background-image: url(../img/about/link-icon-resources%402x.png);
        background-size: 100% 100%
    }
}

section#about ul.links li.contact a:before {
    background-image: url(../img/about/link-icon-contact.png)
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#about ul.links li.contact a:before {
        background-image: url(../img/about/link-icon-contact%402x.png);
        background-size: 100% 100%
    }
}

section#about ul.links li+li {
    margin-top: 25px
}

section#global {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden
}

@media screen and (max-width:479px) {
    section#global {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

section#global .content {
    position: relative
}

section#global section.copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    min-height: 457px;
    max-width: 320px;
    box-sizing: border-box
}

@media screen and (max-width:479px) {
    section#global section.copy {
        display: block;
        min-height: 0;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        max-width: none
    }
}

section#global section.copy h2 {
    font-weight: 400
}

section#global section.copy .headquarters {
    position: relative;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #e1e4e6;
    box-sizing: border-box;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 110px;
    margin-top: 30px
}

@media screen and (max-width:479px) {
    section#global section.copy .headquarters {
        padding-left: 105px
    }
}

section#global section.copy .headquarters:after {
    content: "";
    display: block;
    position: absolute;
    width: 71px;
    height: 71px;
    left: 20px;
    top: 50%;
    margin-top: -36px;
    background-image: url(../img/about/headquarters-icon.png)
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#global section.copy .headquarters:after {
        background-image: url(../img/about/headquarters-icon%402x.png);
        background-size: 100% 100%
    }
}

@media screen and (max-width:479px) {
    section#global section.copy .headquarters:after {
        left: 15px
    }
}

section#global section.copy .headquarters p {
    margin: 0
}

section#global section.copy .headquarters .label {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 6px;
    color: #f59c27
}

@media screen and (max-width:479px) {
    section#global section.copy .headquarters .label {
        font-size: .9em
    }
}

section#global section.copy .headquarters .address-line1,
section#global section.copy .headquarters .address-line2 {
    font-size: 1.4em;
    font-weight: 500;
    color: #292e31
}

@media screen and (max-width:479px) {
    section#global section.copy .headquarters .address-line1,
    section#global section.copy .headquarters .address-line2 {
        font-size: 1em
    }
}

section#global section.copy .headquarters .address-line3 {
    font-size: 1.3em
}

@media screen and (max-width:479px) {
    section#global section.copy .headquarters .address-line3 {
        font-size: .9em
    }
}

section#global .map {
    position: absolute;
    width: 846px;
    height: 457px;
    top: 50%;
    margin-top: -228px;
    left: 360px;
    background-image: url(../img/about/metro-map.png)
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#global .map {
        background-image: url(../img/about/metro-map%402x.png);
        background-size: 100% 100%
    }
}

@media screen and (max-width:479px) {
    section#global .map {
        position: relative;
        left: 50%;
        margin-top: 30px;
        margin-left: -211px;
        width: 423px;
        height: 228px
    }
}

section#jobs {
    position: relative;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 60px;
    padding-top: 60px;
    background-color: #f3f5f8
}

section#jobs .call-to-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -o-box-lines: single;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 952px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #dbe3e7;
    font-size: 1.7em;
    box-sizing: border-box;
    line-height: 92px
}

section#jobs .call-to-action p {
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    padding: 32px 40px
}

@media screen and (max-width:1012px) {
    section#jobs .call-to-action {
        width: 748px;
        font-size: 1.3em
    }
}

@media screen and (max-width:479px) {
    section#jobs .call-to-action {
        -webkit-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.1em;
        padding: 15px;
        line-height: 1.5em;
        text-align: center
    }
}

section#jobs .call-to-action .emphasis {
    font-weight: 500;
    color: #292e31
}

section#jobs .call-to-action aside {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    line-height: 0;
    float: right;
    padding: 28px 30px;
    border-left: 1px solid #e4eaed
}

@media screen and (max-width:1012px) {
    section#jobs .call-to-action aside {
        padding: 27px 20px 28px
    }
}

@media screen and (max-width:479px) {
    section#jobs .call-to-action aside {
        float: none;
        padding: 15px 15px 0;
        border-left-style: none;
        border-top: 1px solid #e4eaed;
        margin: 15px -15px 0
    }
}

section#jobs .call-to-action aside .button {
    font-weight: 500;
    -webkit-align-self: center;
    align-self: center;
    -ms-flex-item-align: center;
    white-space: nowrap
}

@media screen and (max-width:479px) {
    section#jobs .call-to-action aside .button {
        margin: 0 auto
    }
}

section#jobs .skyline {
    position: absolute;
    width: 100%;
    height: 115px;
    top: -115px;
    left: 0;
    background-image: url(../img/about/skyline-landmarks.png), url(../img/about/skyline-generic.png);
    background-repeat: no-repeat, repeat-x;
    background-position: top, bottom;
    background-size: 1280px 115px, 1280px 26px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-device-pixel-ratio:2),
(min-resolution:2dppx) {
    section#jobs .skyline {
        background-image: url(../img/about/skyline-landmarks%402x.png), url(../img/about/skyline-generic%402x.png)
    }
}

section#jobs .skyline:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35px;
    left: 50%;
    margin-left: 30px;
    background-image: url(../img/about/skyline-london-eye.png);
    -webkit-animation: rotate 130s linear infinite;
    animation: rotate 130s linear infinite
}

@media (min--moz-device-pixel-ratio:1.5),
(min-device-pixel-ratio:1.5),
(min-resolution:1.5dppx),
(min-resolution:138dpi),
all and (-webkit-min-device-pixel-ratio:1.5) {
    section#jobs .skyline:after {
        background-image: url(../img/about/skyline-london-eye%402x.png);
        background-size: 100% 100%
    }
}

footer#main-footer {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0;
    padding-top: 50px;
    background-color: #f3f5f8
}










/*for nav bar */
.dropdownContent2{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/6e/44/f6/6e44f62bfdec38d7002df2a62bfedb8c.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
    height:200px;
    border:5px solid white;
}
.dropdownContent3{
    background-image: url("http://cdn.homedsgn.com/wp-content/uploads/2014/03/31-Shipping-Container-House-01-850x566.jpg");
    background-size: cover;
    background-position: center;
    height:200px;
    border:5px solid white;
    width: 70%;
}
/*fo nav bar ends*/

.nav-btn-if{
    color: white !important;
}
.nav-btn-if:hover{
    color: white !important;
}












/*model by me */
.modal-overlay {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(82, 95, 127, 0);
    z-index: 1000;
    pointer-events: none;
    transition: background-color .25s ease-in-out
}

@media (min-width:670px) {
    .modal-overlay {
        padding: 50px
    }
}

.modal-overlay.visible {
    background-color: rgba(82, 95, 127, .4);
    pointer-events: all
}

.modal-overlay.visible .join-modal {
    opacity: 1;
    transform: none
}

.modal-overlay.visible .join-modal.success>.success .content {
    pointer-events: all
}

.join-modal {
    position: relative;
    max-width: 500px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    transform: scale(.75);
    transition: transform .25s cubic-bezier(.175, .885, .32, 1.275), opacity .25s cubic-bezier(.175, .885, .32, 1.275)
}

.join-modal.success>div:not(.success) {
    opacity: 0
}

.join-modal.success>.success .content {
    opacity: 1;
    transform: none
}

.join-modal>.close {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    right: 10px;
    background-image: url(../img/v3/atlas/close.svg);
    cursor: pointer
}

.join-modal>.close:active {
    opacity: .65
}

.join-modal>div {
    padding: 20px;
    transition: opacity .35s cubic-bezier(.23, 1, .32, 1)
}

@media (min-width:670px) {
    .join-modal>div {
        padding: 30px
    }
}

.join-modal>div h2 {
    font-size: 17px
}

.join-modal>div p {
    font-size: 15px;
    line-height: 24px
}

.join-modal>div h2+p {
    margin-top: 5px
}

.join-modal>.request-access header {
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.join-modal>.request-access header .logo {
    margin-right: 20px
}

.join-modal>.request-access form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 25px
}

.join-modal>.request-access form .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0
}

.join-modal>.request-access form .row+.row {
    border-top: 1px solid #f3f5f8
}

.join-modal>.request-access form .row.invalid .label {
    color: #e25950
}

.join-modal>.request-access form .label {
    color: #32325d;
    width: 40%;
    padding-right: 10px
}

.join-modal>.request-access form input,
.join-modal>.request-access form textarea {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    border: none;
    outline: none;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif
}

.join-modal>.request-access form input::-webkit-input-placeholder,
.join-modal>.request-access form textarea::-webkit-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input::-moz-placeholder,
.join-modal>.request-access form textarea::-moz-placeholder {
    color: #aab7c4;
    opacity: 1
}

.join-modal>.request-access form input:-ms-input-placeholder,
.join-modal>.request-access form textarea:-ms-input-placeholder {
    color: #aab7c4
}

.join-modal>.request-access form input[type=text],
.join-modal>.request-access form textarea {
    margin: 0;
    padding: 0;
    width: 60%;
    color: #32325d
}

.join-modal>.request-access form input[type=submit] {
    -webkit-appearance: none;
    cursor: pointer
}

.join-modal>.request-access form textarea {
    resize: none;
    min-height: 70px
}

.join-modal>.request-access form .select {
    position: relative;
    width: 60%
}

.join-modal>.request-access form .select:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 5px;
    top: 50%;
    margin-top: -2px;
    right: 0;
    background-image: url(../../../img/v3/atlas/select-arrow.svg)
}

.join-modal>.request-access form .select select {
    display: block;
    position: relative;
    width: calc(100% - 25px);
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    font-size: 15px;
    line-height: 24px;
    color: #32325d;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    cursor: pointer
}

.join-modal>.request-access form .select select:focus {
    color: #6772e5
}

.join-modal>.use-invite {
    display: -ms-flexbox;
    display: flex;
    background-color: #f6f9fc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.join-modal>.use-invite .icon {
    margin: -3px 20px 0 -2px
}

.join-modal>.use-invite .common-Link {
    font-weight: 400
}

.join-modal>.use-invite .use-invite {
    margin-top: 5px
}

.join-modal>.use-invite .use-invite a {
    font-weight: 500
}

.join-modal>.success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.join-modal>.success .content {
    text-align: center;
    opacity: 0;
    transform: scale(1.5);
    transition-property: opacity, transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.23, 1, .32, 1)
}

.join-modal>.success .icon {
    margin-top: 10px;
    margin-bottom: 30px
}

.join-modal>.success h2 {
    margin-bottom: 10px
}

.join-modal>.success h2,
.join-modal>.success p {
    max-width: 450px
}

